<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="hoptoad.api.class">Bundle\HoptoadBundle\HoptoadApi</parameter>
        <parameter key="hoptoad.listener.class">Bundle\HoptoadBundle\Debug\ExceptionListener</parameter>
        <parameter key="hoptoad.helper.class">Bundle\HoptoadBundle\Templating\Helper\HoptoadHelper</parameter>
    </parameters>
    
    <services>
        <service id="hoptoad.api" class="%hoptoad.api.class%" />
        <service id="hoptoad.listener" class="%hoptoad.listener.class%">
          <tag name="kernel.listener" />
          <argument type="service" id="hoptoad.api" />
        </service>
        <service id="hoptoad.helper" class="%hoptoad.helper.class%">
            <tag name="templating.helper" alias="hoptoad" />
        </service>
    </services>
</container>
